<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>About Us</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div class="about-header">
        <img src="assets/img/logo.png">
    </div>

    <div padding class="about-info">

        <h4>Real Estate Application</h4>

        <p>
            Real Estate sample application is developed by using Ionic 3, Angular 4, Typescript 2.x 
            Firebase Login & SignUp Autherization, Leaflet for GIS and Node.js
        </p>

    </div>

</ion-content>
