<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    
  <ion-list>
    <div  class="pageboarder">
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <ion-item>
        <ion-label floating primary>Email</ion-label>
        <ion-input [(ngModel)]="userInfo.email" formControlName="email" type="text"
                   id="email" spellcheck="false" autocapitalize="off">
        </ion-input>
      </ion-item>
      <p *ngIf="!isValid('email')" danger padding-left>Invalid Email</p>
      <ion-item>
        <ion-label floating primary>Password</ion-label>
        <ion-input [(ngModel)]="userInfo.password" formControlName="password"
                   type="password" id="password" spellcheck="false" autocapitalize="off">
        </ion-input>
      </ion-item>
      <p *ngIf="!isValid('password')" danger padding-left>Invalid password</p>
      <ion-item>
        <ion-label floating primary>Full Name</ion-label>
        <ion-input [(ngModel)]="userInfo.fullname" formControlName="fullname" type="text" id="fullname">
        </ion-input>
      </ion-item>
      <p *ngIf="!isValid('fullname')" danger padding-left>Invalid fullname</p>
      
      <ion-item>
        <ion-label floating primary>Mobile Number</ion-label>
        <ion-input [(ngModel)]="userInfo.mobileNo" formControlName="mobileNo" type="text" id="mobileNo">
        </ion-input>
      </ion-item>
      <p *ngIf="!isValid('mobileNo')" danger padding-left>Invalid Mobile Number</p>
      

      <button ion-button block type="submit" [disabled]="!signupForm.valid">
      Sign Up
    </button>
    <button ion-button block clear (click)="login()">
        Cancel
    </button>

    </form>
    </div>
  </ion-list>
</ion-content>