<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Welcome</ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-bounce>
    <ion-slides>

        <ion-slide style="background-image: url('assets/img/slide_properties.jpg')">
            <p>Find your house is just a few taps away! Select Properties in the menu to start your search.</p>
        </ion-slide>

        <ion-slide style="background-image: url('assets/img/slide_brokers.jpg')">
            <p>Select Brokers in the menu to connect with the best brokers in the business in a whole new way!</p>
        </ion-slide>

        <ion-slide style="background-image: url('assets/img/slide_favorites.jpg')">
            <p>Keep track of your favorites and get notified in real time when important events happen.</p>
        </ion-slide>

    </ion-slides>

</ion-content>
