page-welcome {

  font-weight: 300;

  ion-slide {

    position: relative;
    background-size: cover;

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #25AE20;
      color: #FFFFFF;
      padding: 28px 28px 48px 28px;
      font-size: 2.7rem;
      margin-bottom: 0;
    }

    img {
      width: 50px;
      height: 50px;
      margin-top: -150px
    }

  }

  .swiper-pagination-bullet {
    background: white;
  }

}