page-login{

   h2 {
    text-align: center;
    margin: 10px;
  }
  form {
    margin-bottom: 20px;
   
    button {
      margin-top: 20px !important;
    }
    p {
      font-style: italic;
      color: #fc5a1b;
    }
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    color: #fc5a1b;
    border-bottom: 0 !important;
  }
  .login-header{
     color: #fff;
     text-align: center
  }

  .pageboarder{
    border: 1px solid green;
  }
  

}
