<ion-header>
  <ion-navbar  >
      <ion-title >
        <ion-label class="login-header">Login</ion-label>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!--<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>-->

<div *ngIf="!(authService.user | async)" class="pageboarder">
   <form [formGroup]="loginForm" (submit)="login()" novalidate  >
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" value="navaseelan4u@gmail.com" (change)="elementChanged(email)"
        placeholder="Your email address"
        [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password"  (change)="elementChanged(password)"
        placeholder="Your password"
        [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>
    <button ion-button block type="submit">
      Login
    </button>
  </form>

  <button ion-button block clear (click)="register()">
    Don't you have an account? Sign Up Now
  </button>
  <!--<button ion-button block clear (click)="reset()">
    Forgot Password
  </button>-->

</div>

</ion-content>
